body{
    background: rgb(27, 27, 27);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    color: white;
    margin-left: 15px;
}

nav ul li{
    position: relative;
    list-style: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; ;
    color: white;
    
}
.drag-area {
    border: 5px dashed #ddd;
    width:  500px;
    height: 700px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .drag-area.active{
      background-color: #b8d4fe;
      color: black;
      border: 2px dashed #618ac9;
  }

  .drag-area h2 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
  }

  .drag-area span {
      font-size: 25px;
      color: #000;
  }

  .drag-area button {
      padding: 10px 25px;
      font-size: 20px;
      border: 0;
      outline: none;
      background-color: #5256ad;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      margin: 20px;
  }

  .file-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border: solid 1px #ddd;
  }

  #preview {
      margin-top: 10px;
  }

  .status-text {
      padding: 0 10px;
  }
  
  .success{
      color: #52ad5a;
  }

  .failure{
      color: #ff0000;
  }


  footer{
    position: relative;
    right: 8px;
    top: 708px;
    width: 1348px;
    height: 250px;
    background: rgb(14, 14, 14);
 }
 footer h2{
    color: rgb(92, 88, 88);
    text-align: center;
    position: relative;
    top: 10px;
 }
 footer .ig{
    position: relative;
    height: 30px;
    left: 575px;
    width: 50px;
    top: 10px;
 }
 
 footer .fc{
   position: relative;
   bottom: 20px;
   height: 20px;
   width: 50px;
   left: 640px;
}
 
footer .redit{
   position: relative;
   bottom: 40px;
   height: 30px;
   width: 50px;
   left: 705px;
}
footer .copy{
   position: relative;
   text-align: center;
   width: 50px;
   top: 50px;
   height: 30px;
   left: 485px;
   color: rgb(92, 88, 88);
   font-size: 18px;
}
footer .donar{
   position: relative;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(92, 88, 88);
   border-bottom: blanchedalmond;
   text-align: center;
   left: 150px;
   top:80px;
}
footer .panas{
   position: relative;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgb(92, 88, 88);
   border-bottom: blanchedalmond;
   text-align: center;
   left: 200px;
   top:80px;
}
footer a{
   color: rgb(92, 88, 88);
}


  